body {
  text-align: center;
  background: #d3ecff
}
.img-logo {
  max-width: 100%;
  background: #454e5c;
  margin: auto;
  border-radius: 10px;
}

#title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

#sub-title {
  font-family: 'Indie Flower'; cursive;
  font-weight: bold;
  font-size: 30px;
  color: crimson;
  margin: auto; 
  position: relative;
  padding-top: 0px;
  padding-bottom: 10px;
}
#description {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

form {
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: black;
}

#form-outer {
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 15px;
  max-width: 75%;
  padding: 10px;
  padding-top: 25px;
}
.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.right-side {
  display: inline-block;
  text-align: left;
  width: ;
  vertical-align: middle;
}

.input-field {
  height: 18px;
  width: 350px;
  margin-top: 15px;
  margin-left: 10px;
}

.radio-text {
  font-size: 16px;
}

.checkbox-text {
  font-size: 15px;
}

.checkbox-line { /* This one wasn't that hard, basically creating a box-border but deleting sides with the code below. */
  background-color: transparent;
  color: black;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid black 1px;
  padding: 0px 10px
}

.radio, .checkbox {
  position: relative;
  left: -45px;
  margin-left: 10px;
  display: block;
}

.dropdown {
  height: 21px;
  width: 350px;
  margin-top: 16px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 2px;
}

.text-area {
  height: 150px;
  width: 350px;
  margin-top: 16px;
  margin-left: 10px;
  border: 1px solid #404040;
  border-radius: 2px;
}

.submit {
  margin-left: 290px;
  margin-top: 15px;
  color: white;
  background-color: #454e5c;
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
}

/* HOVER PRINCIPLES INCOMING: So I added an animation of the hover button that lightens the button once hovered over it. animation-fill-mode:forwards lets the animation continue or stay at that color for the entire duration you hover over it. */

.submit:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-color {
  100% {
    background-color: #666d78;
  }
}